.background-overlay {
    width: 100%;
    background: url("6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: #fff;
    height: 800px;
    padding-bottom: 100px;
}

.navbar-toggler {
    color: white !important;
    background-color: white !important;
}

.nav-bg {
    background-color: black;
    color: white;
}

.nav-link,
a {
    color: white !important;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.form-inline {
    margin-top: 12%;
}

.btn-info {
    background-color: #e7b94f !important;
}

#getfare {
    text-align: center;
    background-color: black !important;
    color: white !important;
    font-weight: 700;
    border: 0px !important;
    display: none;
}

.icon {
    padding-top: 5%;
}

#contactus {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .2));
    color: white;
}

@media only screen and (max-width: 780px) and (min-width: 260px) {
    .navbar-brand {
        width: 40%;
    }
}

.modal {
    margin-top: 16% !important;
}

#detailform {
    margin-top: 10% !important;
}

i {
    font-size: 30px;
    color: #e7b94f;
    padding: 0px 5px 0px 5px;
}

#loginpage,
#adminpage,
#registerpage {
    /* The image used */
    background-image: url("6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#adminquestion {
    margin: 0px;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 20%;
    width: auto;
    padding: 3%;
    background-color: white;
    border-radius: 18px;
}

#registerheading {
    color: #e7b94f;
}

.linkbutton {
    text-decoration: none;
    color: black!important;
}

.detailbutton {
    background-color: #e7b94f;
    border: 2px;
    border-radius: 10px;
    color: white;
    width: 155px;
    padding: 12px 15px 12px 15px;
}

.detail {
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e7b94f;
    padding: 5px 10px;
}

.detailbutton,
 :focus {
    outline: none;
}

#headerlist {
    list-style-type: none;
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    background-color: teal;
    width: 100%;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.listoption {
    background-color: teal;
    width: 40%;
    display: inline;
    margin-left: 100px;
}

.listoption>a:hover {
    color: tomato;
}

#setting {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
}

.changes {
    float: right;
}

.changes a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 20px 2px 20px;
    text-decoration: none;
    background-color: transparent;
}

.changes a:hover {
    background-color: #111111;
}

#setting>span {
    padding-left: 50px;
    margin-top: 50px;
    color: #4CAF50;
}

.option {
    background-color: white;
    border: 0px;
    color: #4CAF50;
}

button.option:hover {
    background-color: #4CAF50;
    color: white;
}

button.option:focus {
    background-color: red;
    color: white;
    outline: 0px;
}

#changepassword,
#changenumber,
#changename {
    display: none;
    margin-left: 5%;
    margin-top: 3%;
}

table {
    margin-top: 2%;
    text-align: center;
}

td,
th {
    border: 1px solid #ddd;
    padding: 4px 30px 4px 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.filter {
    background-color: transparent;
    color: black;
    border: 0px;
}

#book {
    display: none;
}

ul#filter li {
    display: inline;
}

.filtera {
    color: black !important;
}

.triggerbtn {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    border: 0px;
    color: #4CAF50;
}

button.triggerbtn:focus {
    border: 0px;
    outline: 0px;
}

button.triggerbtn:hover {
    background-color: #4CAF50;
    color: white;
}

div.hide>li>a:hover,
button.triggerbtn:focus {
    background-color: red;
    color: white !important;
    text-decoration: none;
}

#previousridewrapper {
    margin-left: 7%;
}

#tbl {
    margin-left: 6%;
}

#heading {
    margin-left: 40%;
}

.hide {
    display: none;
}

div.hide {
    margin-top: 2%;
}

div.hide>li>a {
    border-radius: 10px;
    padding: 3px 12px 3px 12px;
    color: #4CAF50 !important;
    text-decoration: none;
}