/********************ALL PAGES BACKGROUND*********************************/

.background-overlay,
#registerpage,
#loginpage {
    width: 100%;
    background: url("6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: black;
    height: 800px;
    padding-bottom: 100px;
    text-align: left;
}


/*****************************NAV BAR******************************/

.navbar-toggler {
    color: white !important;
    background-color: white !important;
}

.nav-bg {
    background-color: black;
    color: white;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #a0967e;
}


/************************HIDE ARROW OF OPTION******************************/

select {
    -webkit-appearance: none;
    appearance: none;
}


/*************************LANDING PAGE CSS******************************/

.form-inline {
    margin-top: 12%;
}

.btn-info {
    background-color: #e7b94f !important;
}

#getfare {
    text-align: center;
    background-color: #e7b94f !important;
    color: white !important;
    font-weight: 700;
    border: 0px !important;
    display: none;
}

.icon {
    padding-top: 5%;
}

#contactus {
    background-color: #e7b94f;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
}

@media only screen and (max-width: 780px) and (min-width: 260px) {
    .navbar-brand {
        width: 40%;
    }
}

#detailform {
    margin-top: 10% !important;
}

i {
    font-size: 30px;
    color: #e7b94f;
    padding: 0px 5px 0px 5px;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 20%;
    width: auto;
    padding: 3%;
    background-color: white;
    border-radius: 18px;
}


/***************login and register page********************/

.linkbutton {
    text-decoration: none;
    color: black!important;
}

.detailbutton {
    background-color: #e7b94f;
    border: 2px;
    border-radius: 10px;
    color: white;
    width: 155px;
    padding: 4px 15px 4px 15px;
}

.detail {
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e7b94f;
    padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.detailbutton,
 :focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}


/**********************USER SETTING PANEL***********************/

#setting {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
}

.changes {
    float: right;
}

.changes a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 20px 2px 20px;
    text-decoration: none;
    background-color: transparent;
}

.changes a:hover {
    background-color: #111111;
}

#info {
    padding: 8px 15px 8px 15px;
    color: #e7b94f
}

#setting {
    background-color: black;
    padding: 10px;
}

.option {
    background-color: black;
    border-radius: 10px;
    border: 0px;
    padding: 8px 15px 8px 15px;
    color: #e7b94f
}

button.option:hover {
    background-color: #e7b94f;
    color: white;
}

button.option:focus {
    border: 0px;
    outline: 0px;
}

#changenumber,
#changename {
    display: none;
    margin-left: 5%;
    margin-top: 3%;
}

#userpanelsetting {
    margin-left: 5%;
    margin-top: 3%;
}

.btn,
.btn-secondary,
.dropdown-toggle:focus {
    border: 0px !important;
    outline: 0px !important;
}


/**********************CSS FOR TABLE ON THE USER PANEL****************************/

table {
    border-collapse: collapse;
    margin-top: 2%;
    text-align: center;
    color: black;
}

table,
th,
td {
    border: 1px solid black;
}

.confirmbooking {
    padding: 10px 30px 10px 30px;
}

.checkstatus {
    padding: 4px 20px 4px 20px;
}

tr:hover {
    background-color: red;
    color: white;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/**********************USER DASHBOARD******************************/

#headingconfirm {
    margin-left: 26%;
    color: black !important;
}

#invo {
    margin-left: 40%;
    color: black !important;
}

#pendingrides {
    color: yellow;
}

#completedrides {
    color: green;
}

#cancelledrides {
    margin-top: 50px;
    color: red;
}

#totalrides {
    margin-top: 50px;
    color: chartreuse;
}

.filter {
    background-color: transparent;
    color: black;
    border: 0px;
}

#book {
    display: none;
}

ul#filter li {
    display: inline;
}

.filtera {
    color: black !important;
}

.triggerbtn {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    border: 0px;
    color: black;
}

button.triggerbtn:focus {
    border: 0px;
    outline: 0px;
}

button.triggerbtn:hover {
    background-color: #4CAF50;
    color: white;
}

button.triggerbtn:focus {
    background-color: red !important;
    color: white !important;
}

#previousridewrapper {
    margin-left: 7%;
}

#table {
    text-align: center;
    margin-left: 8%;
    padding-bottom: 50px;
}

#heading {
    color: black;
    margin-left: 40%;
    text-decoration: underline;
}

.hide {
    display: none;
}

div.hide {
    margin-top: 2%;
}

div.hide>li>a {
    border-radius: 10px;
    padding: 3px 12px 3px 12px;
    color: black !important;
    text-decoration: none;
}

div.hide>li>a:hover {
    color: red !important;
    text-decoration: none;
}

#pad {
    padding-bottom: 100px;
}

.usertile {
    width: 400px;
    padding-bottom: 50px;
    float: left;
    text-align: center;
    margin-left: 40px;
    background-color: black;
    border-radius: 100px;
}

.content {
    margin-top: 40px;
}

.dropdown-item {
    color: black !important;
}

.dropdown-menu {
    margin-left: 1040px !important;
}

.btn-secondary {
    background-color: black !important;
    border: 0px !important;
}

.btn-secondary:focus {
    border: 0px !important;
    outline: 0px !important;
}

#dropdownMenuButton,
#dropdownButton {
    margin-top: 3px !important;
}

#rideinvoice {
    margin-left: 454px;
}

.active {
    background-color: red;
    color: white;
}

#headingconfirm,
#invo {
    color: #4CAF50;
}

#getfaredetail {
    display: none;
    color: black !important;
    margin-top: -34px;
}

#panel {
    padding-top: 100px;
    width: 100%;
    background: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: #fff;
    padding-bottom: 800px;
}

#checkstatuspanel,
#confirmbookingpanel,
#page-top {
    padding-top: 20px;
    width: 100%;
    background: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    color: #fff;
    padding-bottom: 200px;
}

.userinvo {
    color: black !important;
    text-decoration: none;
    font-size: larger;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    float: right;
    background-color: #e7b94f;
}

#userinvoicetable {
    margin-left: 2% !important;
}

.invotable {
    padding: 5px 30px 5px 30px;
}

.userinvo:hover {
    color: white;
    background-color: red;
}

#usertable {
    margin-left: 400px;
}

#usertable>h1 {
    margin-left: 100px;
}

#usertable>h2 {
    margin-left: 130px;
}