ul#filter li {
    display: inline;
}

ul#filter li>a {
    text-decoration: none;
    margin-left: 30px;
}

.triggerbtn {
    background-color: transparent;
    border: 0px;
}

.addlocation,
button.triggerbtn:focus {
    outline: 0px;
    border: 0px;
}

.addlocation {
    border: 0px;
    border-bottom: 2px solid #4e73df;
}

#wrappers {
    margin-left: 50px;
    margin-top: 30px;
}

table#invoice {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table#invoice>td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#blockinvoice {
    font-size: 30px;
    width: 300px;
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
}

.right {
    font-size: 22px !important;
    text-align: left!important;
}

.left {
    font-size: 22px !important;
    text-align: right !important;
}

.triggerbtn {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    color: #4a6fdc !important;
}

.triggerbtn:hover {
    background-color: #4a6fdc;
    color: white!important;
}

.triggerbtn:focus {
    background-color: #4a6fdc;
    color: white!important;
}

.link {
    text-decoration: none !important;
    color: #4a6fdc !important;
    padding: 5px 15px 5px 15px !important;
    border-radius: 10px !important;
}

.link:hover {
    color: white !important;
    background-color: #4a6fdc !important;
}

.hide {
    display: none;
}

div.hide {
    margin-top: 2%;
}

div.hide>li>a {
    border-radius: 10px;
    padding: 3px 12px 3px 12px;
    color: #4a6fdc !important;
    text-decoration: none;
}